// GLOBAL

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  background-color: #333333 !important;
}

.spacer {
  height: 60px;
}

// COLORS
$elderberry: #2D142D;
$frenchRasperry: #C72C41;
$boysenberry: #801336;
$coralRed: #EE4540;

// APPLY BACKGROUND COLOR
.bg-elderberry {
  background-color: $elderberry;
  color: #ffffff;
}

// HEADER

nav {
  background-color: #2D142D !important;
}

#brand-logo {
  height: 64px;
  width: 64px;
  float: left;
}

#logo {
  height: 50px !important;
  width: auto;
  margin-top: 7px;
}

#brand-name {
  margin-left: 10px;
  font-size: 2em;
}

// UPPER WRAPPER
#upper-wrapper {
  width: 100%;
}

// INTRO SECTION

#intro-section {

}

// headlines
h1 {
  font-size: 3em;
  color: #ffffff;
  margin-top: 0;
}

#faq-wrapper h1 {
  color: #000000;
}

h3 {
  font-size: 1.3em;
  color: #ffffff;
}

// BUTTONS

.default-btn {
  width: 200px;
  height: 40px;
  background-color: $frenchRasperry;
  color: #ffffff;
  border: none;
  border-radius: 20px 20px 0 20px;
  padding: 5px 20px;
  margin-right: 5px;
}

.default-btn:hover {
  cursor: pointer;
}

.mirrored-btn {
  width: 200px;
  height: 40px;
  background-color: $boysenberry;
  color: #ffffff;
  border: none;
  border-radius: 20px 20px 20px 0;
  padding: 5px 20px;
  margin-left: 5px;
}

// PREVIEW SECTION

#screenshot {
  height: 400px;
  // background-color: $frenchRasperry;
  border-radius: 20px;
  text-align: center;
}

#screenshot-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#chatview {
  height: 400px;
  background-color: cornflowerblue;
}

// messageview

.chat-message-list {
  width: 90%;
  margin: 0 auto;
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
}

.message-row {
  margin-bottom: 20px;
}

.bubble-foreign {
  background-color: $boysenberry;
  float: left !important;
}

.bubble-own {
  background-color: $coralRed;
  float: right !important;
}

.message {
  border-radius: 20px;
  max-width: 300px;
}

.message-container {
  padding: 10px;
}

.sender-acronym {
  width: 50px;
  height: 50px;
  border: 3px solid $frenchRasperry;
  background-color: $elderberry;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 1.25em;
  float: left;
}

.feature-icon-large {
  font-size: 4em !important;
}

.feature-btn {
  line-height: 1.5em;
}

.learn-more {
  width: 200px;
  height: 40px;
  background-color: $frenchRasperry;
  color: #ffffff;
  border: none;
  border-radius: 20px 20px 0 20px;
  padding: 5px 20px;
  margin-right: 5px;
}

// DOWNLOADS

.download-section {
  // background-color: red;
}

.os-icon {
  height: 75px;
}
